@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --light-1: #eaf0f7;
  --light-2: #f6faff;
}

img {
  max-width: 100%;
  object-fit: contain;
}

body {
  @apply bg-gray-900 text-[#e5edff];
  background: linear-gradient(180deg, #0a0a3a, #02102f);
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important; */
  font-family: '__Raleway_30956c', '__Raleway_Fallback_30956c', 'arial' !important;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-attachment: fixed;
}

.banner_image {
  animation: bounce 2s infinite linear;
}

@keyframes bounce {

  0%,
  50%,
  100% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-10px);
  }

  75% {
    transform: translateY(10px);
  }
}


.button {
  @apply flex bg-indigo-500 text-white sm:px-4 px-3 sm:text-sm text-xs py-2 rounded-md font-medium shadow-lg uppercase;
}

.container2 {
  @apply container mx-auto px-4;
}

.glass {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.title {
  @apply text-center md:text-[2.5rem] sm:text-3xl text-2xl font-semibold md:my-12 my-6;
}

.title2 {
  @apply md:text-2xl text-xl font-semibold;
}

.text {
  @apply md:text-base text-sm;
}

@media screen and (max-width:640px) {
  body {
    position: relative;
  }

  /* .active body{
    filter: blur(10px);
  } */

  nav {
    @apply bg-gray-700 z-50 fixed top-0 bottom-0 duration-300 -right-full h-full min-w-[250px] p-6;
    transition: .3s ease-in-out right;
  }

  .overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    /* background: #0005;
    backdrop-filter: blur(5px); */
    visibility: hidden;
    transition: .3s ease-in-out;
  }
  .active .overlay{
    background: #0005;
    backdrop-filter: blur(5px);
    visibility: visible;
  }

  .active nav{
    right: 0;
  }

  nav a:last-child {
    @apply text-inherit border-none shadow-none;
    text-transform: none;
    background: none !important;
  }
}


.swiper {
  max-width:1000px;
  aspect-ratio: 16/9;
  overflow-x: hidden !important;
  color: black;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  @apply bg-gray-700;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
